@page "/groups"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@Groups"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4"> @Localizer["MyGroups"]</MudText>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Info" OnClick="@(() => ShowModalAsync())"
                           class="me-2">
                    @Localizer["New"]
                </MudButton>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Warning" OnClick="@(() => ShowModalJoinAsync())">
                    @Localizer["JoinGroup"]
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>@Localizer["Group"]</MudTh>
            <MudTh style="width: 80px;">@Localizer["Image"]</MudTh>
            <MudTh>@Localizer["Admin"]</MudTh>
            <MudTh style="width: 80px;">@Localizer["Image"]</MudTh>
            <MudTh>@Localizer["Tournament"]</MudTh>
            <MudTh style="width: 80px;">@Localizer["Image"]</MudTh>
            <MudTh>@Localizer["Code"]</MudTh>
            <MudTh style="width: 80px;">@Localizer["IsActive"]</MudTh>
            @* <MudTh># @Localizer["Members"]</MudTh> *@
            <MudTh>@Localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>
                <MudImage Src="@context.ImageFull" Width="80" />
            </MudTd>
            <MudTd>@context.Admin.FullName</MudTd>
            <MudTd>
                <MudImage Src="@context.Admin.PhotoFull" Width="80" Height="80" Style="border-radius: 50%;" />
            </MudTd>
            <MudTd>@context.Tournament.Name</MudTd>
            <MudTd>
                <MudImage Src="@context.Tournament.ImageFull" Width="80" />
            </MudTd>
            <MudTd>@context.Code</MudTd>
            <MudTd>
                @if (context.IsActive)
                {
                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" />
                }
                else
                {
                    <MudIcon Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" />
                }
            </MudTd>
            @* <MudTd>@context.MembersCount</MudTd> *@
            <MudTd>
                <MudStack Spacing="2">
                    <MudButton Variant="Variant.Filled"
                               EndIcon="@Icons.Material.Filled.SportsSoccer"
                               Color="Color.Info"
                               OnClick="@(() => GroupDetails(@context))"
                               Disabled="@(!context.IsActive)">
                        @Localizer["GroupDetails"]
                    </MudButton>
                    @if (context.Admin.UserName == username)
                    {
                        <MudStack Row="true" Spacing="2">
                            <MudTooltip Text="@Localizer["Edit"]">
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Warning"
                                           OnClick="@(() => ShowModalAsync(context.Id, true))">
                                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                                </MudButton>
                            </MudTooltip>
                            <MudTooltip Text="@Localizer["CopyInvitationURLTitle"]">
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Secondary"
                                           OnClick="@(() => CopyInvitationAsync(@context))"
                                           Disabled="@(!context.IsActive)">
                                    <MudIcon Icon="@Icons.Material.Filled.ContentCopy" />
                                </MudButton>
                            </MudTooltip>
                        </MudStack>
                    }
                </MudStack>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>@Localizer["NoGroups"]</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString=@Localizer["RecordsNumber"]
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText=@Localizer["All"]
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}
