<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Localizer["Team"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@TeamDTO.Name" />
            <ValidationMessage For="@(() => TeamDTO.Name)" />
        </div>
    </div>
    <div class="mb-3">
        <label>@Localizer["Country"]:</label>
        <div>
            <select class="form-select" @bind="TeamDTO.CountryId">
                <option value="0">@Localizer["SelectACountry"]</option>
                @if (countries is not null)
                {
                    @foreach (var country in countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                }
            </select>
            <ValidationMessage For="@(() => TeamDTO.CountryId)" />
        </div>
    </div>
    <div class="mb-3">
        <InputImg Label=@Localizer["Image"] ImageSelected="ImageSelected" ImageURL="@imageUrl" />
    </div>

    <button class="btn btn-primary" type="submit">@Localizer["SaveChanges"]</button>
    <button class="btn btn-success" @onclick="ReturnAction">@Localizer["Return"]</button>
</EditForm>
